@font-face {
    font-family: "Cyntho Pro Regular";
    src: url("/assets/font/CynthoPro-Regular.woff");
}

body {
    font-family: "Cyntho Pro Regular";
    background-color: #191919;
    color: #1E1E1E;
    margin: 0;
}

.sep {
    margin: 0em auto 1em;
    display: block;
    border: none;
    color: black;
    height: 1px;
    background: -webkit-linear-gradient(left, black, rgba(255,255,255,0.1));
    background: -moz-linear-gradient(left, black, white);
}

#wrapper {
    width: 849px;
    margin: 0 auto;
    min-height: 600px;
    /* background: url("/assets/image/banner.webp") top center no-repeat; */
    vertical-align: baseline;
}

#header {
    padding: 0;
}

#footer {
    text-align: right;
    padding: 15px 0;
    font-size: 12px;
    color: white;
}

#navbar {
    background: rgba(0,0,0,0.5);
    display: block;
    float: left;
    margin: 0 auto;
    width: 843px;
    margin-top: 278px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-left: 3px solid #000000;
    border-right: 4px solid #000000;
    border-radius: 1px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;

}

#navbar #menu li {
    float: left;
    position: relative;
    text-align: left;
}

#navbar a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    padding: 0 15px;
    line-height: 35px;
}

#navbar a:hover {
    background: rgba(0,0,0,1);
}

.current-page {
    background: rgba(0,0,0,1);
}

#main {
    clear: both;
    overflow: hidden;
    padding: 30px 0px;
    /*border-top: 1px solid black;*/
    background-color: rgba(255,255,255,0.99);
    border-radius: 1px;

}

#main a {
    text-decoration: none;
    color: inherit;
    border-bottom: 0.12em solid #adadad;
    padding: 2px 2px 0px;
}

#main a:hover {
    background: #cccccc;
    border-radius: 2.5px;
}

#main h1 {
    margin: 0 0 0.5em;
    padding: 0 15px 1px;
    border-bottom: 2px solid #000000;
}

#main h2 {
    margin: 1em auto 0;
    padding: 0 15px 1px;
    font-weight: normal;
}

p {
    padding: 5px 20px;
}

/**** Background video for side pages ****/
#myVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/**** Schedules  ****/
table.schedule {
    margin: 1.5em auto 3em;
    border-collapse: collapse;
}

.schedule .m-header {
    font-size: 18px;
    letter-spacing: -0.5px;
    background-color: rgba(0,0,0,0.05);
    text-transform: uppercase;
}

table.schedule tbody {
    vertical-align: middle;
}

.schedule td, .schedule th {
    padding: 4px 10px;
    text-align: center;
}

.schedule tbody tr:first-child /*.table-header*/ {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.schedule tbody tr:not(:first-child) /*.table-entry*/ {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
}

.schedule tbody tr:not(:first-child):hover /*.table-entry:hover*/ {
    background-color: rgba(0,0,0,0.1);
}

.schedule .date {
    width: 100px;
}

.schedule .series {
    width: 420px;
}

.schedule .location {
    width: 140px;
}

.schedule .time {
    width: 200px;
}

.archive {
    padding: 2px 20px 5px;
    position: relative;
}
/**** Schedules ****/


/**** Spoilers ****/
/*.spoilerbutton {
    position: absolute;
    top: 0em;
}*/

.spoilerbutton {
  position: absolute;
    top: 0em;
    border-width: 0px;
    border-radius: 1px;
    color: #424242;
    padding: 6px 10px;
    font-size: 11px;
    /*font-weight: 400;*/
    background: linear-gradient(#fff, #e5e5e5), #fff;
    line-height: 1;
    box-shadow: none;
    -webkit-appearance: none;
    text-decoration: none;
    text-align: center;
    transition: background-color .3s ease-out;
    margin: 0 10px;
}

.spoilerbutton:hover {
    background: linear-gradient(#fff, #d5d5d5), #fff;
}

.spoiler {
    overflow: hidden;
    background: inherit;
}

.spoiler > div {
    -webkit-transition: all 1s ease;
    -moz-transition: margin 1s ease;
    -o-transition: all 1s ease;
    transition: margin 1s ease;
}

.spoilerbutton[value="Show"] + .spoiler > div {
    margin-top: -500%;
}

.spoilerbutton[value="Hide"] + .spoiler {
    padding: 5px;
}
/**** Spoilers ****/

/**** Officers ****/
table.department {
    border-collapse: separate;
    border-spacing: 0 3px;
    margin: 1em 0 4em;
}

.department td {
    padding: 10px 10px;
    text-align: left;
    background: inherit;
    color: white;
    border-bottom: 1px solid black;
}

.officer td:not(:first-child) {
    padding: 10px 50px;
    background: black;
}

.officer h3 {
    font-size: 25px;
    margin-bottom: 0;
}

.officer h4 {
    margin: 0;
    padding-left: 20px;
}

.officer p {
    padding: 0;
    font-size: 1.25em;
}
/**** Officers ****/

/**** IRC ****/
#chat-box {
    text-align: center;
}
/**** IRC ****/

/**** Konshuu ****/

.konshuu {
    background-color: rgb(255, 255, 255);
}

#konshuu-header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#konshuu-title {
    flex-grow: 1;
    margin: auto;
    padding-left: 32px;
    font-size: 24px;
}

#konshuu-dropdown {
    width: 480px;
    margin: auto;
}

#konshuu-dropdown-button:hover {
    color: rgba(255, 255, 255, 0.5);
}

#konshuu-dropdown-button {
    width: 100%;
    height: 64px;
    border: none;
    margin: auto;
    background: transparent;
    font-family: "Cyntho Pro Regular";
    font-size: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#konshuu-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    width: 480px;
    max-height: 480px;
    overflow-y: scroll;
}

#konshuu-dropdown-content button {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding-left: 16px;
    border: none;
    background: transparent;
    text-align: left;
    font-family: "Cyntho Pro Regular";
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

#konshuu-dropdown-content button:hover {
  color: rgba(255, 255, 255, 0.5);
}

#konshuu-return {
    width: 288px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

#konshuu-return a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#konshuu-return a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#konshuu-reader {
    width: 100%;
    min-height: calc(100% - 64px);
    padding-top: 64px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#konshuu-reader-canvas {
    width: 80%;
    margin: auto;
}

#konshuu-reader-left {
    display: none;
    position: fixed;
    top: 64px;
    width: 96px;
    height: calc(100% - 64px);
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("/assets/image/prev-page.svg");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#konshuu-reader-right {
    position: fixed;
    top: 64px;
    width: 96px;
    right: 0;
    height: calc(100% - 64px);
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("/assets/image/next-page.svg");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

/**** Konshuu ****/
/**** Zoom Buttons ****/
.zbutton {
    display: inline-block;
    *zoom: 1;
    text-align: center;
    font-family: inherit;
    vertical-align: middle;
    border: 1px solid;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    color: #808080;
    border-color: #808080;
    font-size: 0.8em;
    padding: 0.4em 1em;
}

.zbutton:hover {
  background: #808080;
  color: #fff;
  border-color: #808080;
}

.zoomin {
    margin-top:0%;
    bottom: 10px;
    position: fixed;
    margin-left: 100px;
}

.zoomout {
    margin-top:0%;
    bottom: 10px;
    position: fixed;
    margin-left: 140px;
}

.webtoonLayout {
	position: fixed;
    margin-top:0%;
    bottom: 10px;
    margin-left: 180px;
}


/**** Webtoon Style ****/

#konshuu-reader-webtoon {
    width: 100%;
    min-height: calc(100% - 64px);
    padding-top: 64px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

/**** Calendar ****/
#calendar {
    margin:10px;
}
#calendar h2 {
    margin-top:8px;
}
